/*! Made with Bones: http://themble.com/bones :) */
/******************************************************************

Stylesheet: Main Stylesheet

******************************************************************/
/*********************
IMPORTING PARTIALS
*********************/
/******************************************************************

Stylesheet: Variables

******************************************************************/
/*********************
COLORS
http://0to255.com/
*********************/
/*********************
TWC COLORS
*********************/
/* line 53, ../scss/partials/_variables.scss */
.bg-black {
  background-color: #000000;
}

/* line 55, ../scss/partials/_variables.scss */
.bg-twc-lightblue {
  background-color: #34bdf4;
}

/* line 56, ../scss/partials/_variables.scss */
.bg-twc-lightblue2 {
  background-color: #00acf1;
}

/* line 57, ../scss/partials/_variables.scss */
.bg-twc-darkblue {
  background-color: #262366;
}

/* line 58, ../scss/partials/_variables.scss */
.bg-twc-red {
  background-color: #ad0000;
}

/* line 59, ../scss/partials/_variables.scss */
.bg-twc-lightgrey {
  background-color: #e5e5e5;
}

/* line 60, ../scss/partials/_variables.scss */
.bg-twc-gold {
  background-color: #eece85;
}

/******************************************************************

Stylesheet: Typography

******************************************************************/
/*********************
FONT FACE 
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 45, ../scss/partials/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/******************************************************************

Stylesheet: Sass Functions

******************************************************************/
/*********************
COLOR FUNCTIONS
Example:
box-shadow: 0 0 4px black(0.3);
compiles to:
box-shadow: 0 0 4px rgba(0,0,0,0.3);
*********************/
/*********************
RESPONSIVE HELPER FUNCTION
Example:
width: cp(650px, 1000px);
or
width: calc-percent(650px, 1000px);
both compile to:
width: 65%;
*********************/
/******************************************************************
Stylesheet: Mixins Stylesheet

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*********************
CSS3 GRADIENTS
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/*********************
IMPORTING MODULES
*********************/
/*********************
BASE (MOBILE) SIZE
*********************/
/******************************************************************
Stylesheet: Base Mobile Stylesheet

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/* line 10, ../scss/breakpoints/_base.scss */
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #5c6b80;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 315px;
  overflow-x: hidden;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
/* for sites that are read right to left (i.e. hebrew) */
/* home page */
/* blog template page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* parent page template */
/* child page template */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 67, ../scss/breakpoints/_base.scss */
.wrap {
  width: 96%;
  margin: 0 auto;
}

/*********************
LINK STYLES
*********************/
/* line 76, ../scss/breakpoints/_base.scss */
a, a:visited {
  color: #f01d4f;
  /* on hover */
  /* on click */
  /* mobile tap color */
}
/* line 80, ../scss/breakpoints/_base.scss */
a:hover, a:focus, a:visited:hover, a:visited:focus {
  color: #d10e3c;
  text-decoration: none;
}
/* line 91, ../scss/breakpoints/_base.scss */
a:link, a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
/* line 100, ../scss/breakpoints/_base.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  font-weight: 500;
}
/* line 104, ../scss/breakpoints/_base.scss */
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
}

/* line 109, ../scss/breakpoints/_base.scss */
h1, .h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}

/* line 114, ../scss/breakpoints/_base.scss */
h2, .h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}

/* line 120, ../scss/breakpoints/_base.scss */
h3, .h3 {
  font-size: 1.125em;
}

/* line 124, ../scss/breakpoints/_base.scss */
h4, .h4 {
  font-size: 1.1em;
  font-weight: 700;
}

/* line 129, ../scss/breakpoints/_base.scss */
h5, .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/
/* line 140, ../scss/breakpoints/_base.scss */
.header {
  background-color: #000000;
}

/* line 144, ../scss/breakpoints/_base.scss */
h1.top-logo {
  line-height: 0;
  width: 200px;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 153, ../scss/breakpoints/_base.scss */
.navbar {
  padding: 0;
}

/* line 159, ../scss/breakpoints/_base.scss */
#menu-top-menu a {
  color: #ffffff !important;
}
/* line 161, ../scss/breakpoints/_base.scss */
#menu-top-menu a:hover, #menu-top-menu a:active, #menu-top-menu a:focus {
  background-color: #00acf1;
}
/* line 166, ../scss/breakpoints/_base.scss */
#menu-top-menu li:hover, #menu-top-menu li:active, #menu-top-menu li:focus {
  background-color: #00acf1;
}
/* line 170, ../scss/breakpoints/_base.scss */
#menu-top-menu > li > a {
  padding: 10px 15px;
}
/* line 174, ../scss/breakpoints/_base.scss */
#menu-top-menu .sub-menu {
  background-color: #565e66 !important;
  margin: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0;
  padding: 0;
}
/* line 182, ../scss/breakpoints/_base.scss */
#menu-top-menu .sub-menu > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

/*********************
ARCHIVE STYLES
*********************/
/* line 192, ../scss/breakpoints/_base.scss */
.archive-box {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 196, ../scss/breakpoints/_base.scss */
.archive-box:hover {
  background-color: #333;
}
/* line 199, ../scss/breakpoints/_base.scss */
.archive-box:hover a {
  color: #34bdf4;
}
/* line 202, ../scss/breakpoints/_base.scss */
.archive-box:hover time {
  color: #ffffff !important;
}
/* line 207, ../scss/breakpoints/_base.scss */
.archive-box a {
  color: #000000;
}
/* line 211, ../scss/breakpoints/_base.scss */
.archive-box time {
  color: #000000 !important;
  text-decoration: none !important;
  font-weight: bold;
}
/* line 217, ../scss/breakpoints/_base.scss */
.archive-box h1 {
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  height: 50px;
  overflow: hidden;
}

/*********************
POSTS & CONTENT STYLES
*********************/
/* line 235, ../scss/breakpoints/_base.scss */
.hentry header {
  border-bottom: 1px solid #f8f9fa;
  padding: 1.5em;
}
/* line 240, ../scss/breakpoints/_base.scss */
.hentry footer {
  padding: 1.5em;
  border-top: 1px solid #f8f9fa;
}
/* line 244, ../scss/breakpoints/_base.scss */
.hentry footer p {
  margin: 0;
}

/* end .hentry */
/* line 251, ../scss/breakpoints/_base.scss */
.single-title,
.page-title,
.entry-title {
  margin: 0;
}

/* post meta */
/* line 260, ../scss/breakpoints/_base.scss */
.byline {
  color: #9fa6b4;
  font-style: italic;
  margin: 0;
}

/* entry content */
/* line 269, ../scss/breakpoints/_base.scss */
.entry-content {
  padding: 1.5em 1.5em 0;
}
/* line 272, ../scss/breakpoints/_base.scss */
.entry-content p {
  margin: 0 0 1.5em;
}
/* line 297, ../scss/breakpoints/_base.scss */
.entry-content table {
  width: 100%;
  border: 1px solid #eaedf2;
  margin-bottom: 1.5em;
}
/* line 302, ../scss/breakpoints/_base.scss */
.entry-content table caption {
  margin: 0 0 7px;
  font-size: 0.75em;
  color: #9fa6b4;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 311, ../scss/breakpoints/_base.scss */
.entry-content tr {
  border-bottom: 1px solid #eaedf2;
}
/* line 314, ../scss/breakpoints/_base.scss */
.entry-content tr:nth-child(even) {
  background-color: #f8f9fa;
}
/* line 319, ../scss/breakpoints/_base.scss */
.entry-content td {
  padding: 7px;
  border-right: 1px solid #eaedf2;
}
/* line 323, ../scss/breakpoints/_base.scss */
.entry-content td:last-child {
  border-right: 0;
}
/* line 328, ../scss/breakpoints/_base.scss */
.entry-content th {
  background-color: #f8f9fa;
  border-bottom: 1px solid #eaedf2;
  border-right: 1px solid #eaedf2;
}
/* line 333, ../scss/breakpoints/_base.scss */
.entry-content th:last-child {
  border-right: 0;
}
/* line 338, ../scss/breakpoints/_base.scss */
.entry-content blockquote {
  margin: 0 0 1.5em 0.75em;
  padding: 0 0 0 0.75em;
  border-left: 3px solid #2980b9;
  font-style: italic;
  color: #9fa6b4;
}
/* line 353, ../scss/breakpoints/_base.scss */
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
/* line 360, ../scss/breakpoints/_base.scss */
.entry-content img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
  height: auto;
}
/* line 367, ../scss/breakpoints/_base.scss */
.entry-content .size-auto,
.entry-content .size-full,
.entry-content .size-large,
.entry-content .size-medium,
.entry-content .size-thumbnail {
  max-width: 100%;
  height: auto;
}
/* line 376, ../scss/breakpoints/_base.scss */
.entry-content pre {
  background: #000000;
  color: #f8f9fa;
  font-size: 0.9em;
  padding: 1.5em;
  margin: 0 0 1.5em;
  border-radius: 3px;
}

/* end .entry-content */
/* line 387, ../scss/breakpoints/_base.scss */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */
}
/* line 393, ../scss/breakpoints/_base.scss */
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
/* line 399, ../scss/breakpoints/_base.scss */
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}

/* end .wp-caption */
/******************************************************************
PAGE NAVI STYLES
******************************************************************/
/* line 414, ../scss/breakpoints/_base.scss */
.pagination,
.wp-prev-next {
  margin: 1.5em 0;
}

/* line 418, ../scss/breakpoints/_base.scss */
.pagination {
  text-align: center;
}
/* line 421, ../scss/breakpoints/_base.scss */
.pagination ul {
  display: inline-block;
  background-color: #ffffff;
  white-space: nowrap;
  padding: 0;
  clear: both;
  border-radius: 3px;
}
/* line 430, ../scss/breakpoints/_base.scss */
.pagination li {
  padding: 0;
  margin: 0;
  float: left;
  display: inline;
  overflow: hidden;
  border-right: 1px solid #eaedf2;
}
/* line 439, ../scss/breakpoints/_base.scss */
.pagination a, .pagination span {
  margin: 0;
  text-decoration: none;
  padding: 0;
  line-height: 1em;
  font-size: 1em;
  font-weight: normal;
  padding: 0.75em;
  min-width: 1em;
  display: block;
  color: #2980b9;
}
/* line 451, ../scss/breakpoints/_base.scss */
.pagination a:hover, .pagination a:focus, .pagination span:hover, .pagination span:focus {
  background-color: #2980b9;
  color: #ffffff;
}
/* line 457, ../scss/breakpoints/_base.scss */
.pagination .current {
  cursor: default;
  color: #5c6b80;
}
/* line 461, ../scss/breakpoints/_base.scss */
.pagination .current:hover, .pagination .current:focus {
  background-color: #ffffff;
  color: #5c6b80;
}

/* end .bones_page_navi */
/* fallback previous & next links */
/* line 474, ../scss/breakpoints/_base.scss */
.wp-prev-next .prev-link {
  float: left;
}
/* line 478, ../scss/breakpoints/_base.scss */
.wp-prev-next .next-link {
  float: right;
}

/* end .wp-prev-next */
/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
/* line 489, ../scss/breakpoints/_base.scss */
#comments-title {
  padding: 0.75em;
  margin: 0;
  border-top: 1px solid #f8f9fa;
  /* number of comments span */
}

/* line 509, ../scss/breakpoints/_base.scss */
.commentlist {
  margin: 0;
  list-style-type: none;
}

/* line 514, ../scss/breakpoints/_base.scss */
.comment {
  position: relative;
  clear: both;
  overflow: hidden;
  padding: 1.5em;
  border-bottom: 1px solid #f8f9fa;
  /* vcard */
  /* end .commentlist .vcard */
  /* end children */
  /* general comment classes */
}
/* line 521, ../scss/breakpoints/_base.scss */
.comment .comment-author {
  padding: 7px;
  border: 0;
}
/* line 527, ../scss/breakpoints/_base.scss */
.comment .vcard {
  margin-left: 50px;
}
/* line 530, ../scss/breakpoints/_base.scss */
.comment .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
/* line 538, ../scss/breakpoints/_base.scss */
.comment .vcard time {
  display: block;
  font-size: 0.9em;
  font-style: italic;
}
/* line 543, ../scss/breakpoints/_base.scss */
.comment .vcard time a {
  color: #9fa6b4;
  text-decoration: none;
}
/* line 547, ../scss/breakpoints/_base.scss */
.comment .vcard time a:hover {
  text-decoration: underline;
}
/* line 557, ../scss/breakpoints/_base.scss */
.comment .vcard .avatar {
  position: absolute;
  left: 16px;
  border-radius: 50%;
}
/* line 565, ../scss/breakpoints/_base.scss */
.comment:last-child {
  margin-bottom: 0;
}
/* line 569, ../scss/breakpoints/_base.scss */
.comment .children {
  margin: 0;
  /* variations */
  /* change number for different depth */
}
/* line 587, ../scss/breakpoints/_base.scss */
.comment[class*=depth-] {
  margin-top: 1.1em;
}
/* line 591, ../scss/breakpoints/_base.scss */
.comment.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
/* line 596, ../scss/breakpoints/_base.scss */
.comment:not(.depth-1) {
  margin-top: 0;
  margin-left: 7px;
  padding: 7px;
}
/* line 609, ../scss/breakpoints/_base.scss */
.comment.odd {
  background-color: #ffffff;
}
/* line 612, ../scss/breakpoints/_base.scss */
.comment.even {
  background: #f8f9fa;
}

/* comment meta */
/* comment content */
/* line 646, ../scss/breakpoints/_base.scss */
.comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}

/* end .commentlist .comment_content */
/* comment reply link */
/* line 655, ../scss/breakpoints/_base.scss */
.comment-reply-link {
  font-size: 0.9em;
  float: right;
}

/* end .commentlist .comment-reply-link */
/* edit comment link */
/* line 666, ../scss/breakpoints/_base.scss */
.comment-edit-link {
  font-style: italic;
  margin: 0 7px;
  text-decoration: none;
  font-size: 0.9em;
}

/******************************************************************
COMMENT FORM STYLES
******************************************************************/
/* line 679, ../scss/breakpoints/_base.scss */
.comment-respond {
  clear: both;
  padding: 1.5em;
  border-top: 1px solid #f8f9fa;
}

/* line 685, ../scss/breakpoints/_base.scss */
#reply-title {
  margin: 0;
}

/* line 689, ../scss/breakpoints/_base.scss */
.logged-in-as {
  color: #9fa6b4;
  font-style: italic;
  margin: 0;
}
/* line 694, ../scss/breakpoints/_base.scss */
.logged-in-as a {
  color: #5c6b80;
}

/* line 699, ../scss/breakpoints/_base.scss */
.comment-form-comment {
  margin: 1.5em 0 0.75em;
}

/* line 703, ../scss/breakpoints/_base.scss */
.form-allowed-tags {
  padding: 1.5em;
  background-color: #f8f9fa;
  font-size: 0.9em;
}

/* comment submit button */
/* line 710, ../scss/breakpoints/_base.scss */
#submit {
  float: right;
  font-size: 1em;
}

/* comment form title */
/* line 716, ../scss/breakpoints/_base.scss */
#comment-form-title {
  margin: 0 0 1.1em;
}

/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
/* line 729, ../scss/breakpoints/_base.scss */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
/* line 734, ../scss/breakpoints/_base.scss */
.nocomments {
  margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 743, ../scss/breakpoints/_base.scss */
.sidebar img {
  max-width: 100%;
}

/* line 754, ../scss/breakpoints/_base.scss */
.widget ul li {
  /* deep nesting */
}

/* line 771, ../scss/breakpoints/_base.scss */
.no-widgets {
  background-color: #ffffff;
  padding: 1.5em;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 1.5em;
}

/*********************
FOOTER STYLES
*********************/
/* line 784, ../scss/breakpoints/_base.scss */
.footer {
  clear: both;
  background-color: #000000;
}

/* line 792, ../scss/breakpoints/_base.scss */
.footer-links ul {
  display: inline;
}
/* line 795, ../scss/breakpoints/_base.scss */
.footer-links ul li {
  display: inline-block;
  border-right: solid 1px #ffffff;
  margin: 5px 0;
}
/* line 800, ../scss/breakpoints/_base.scss */
.footer-links ul li:last-child {
  border: none;
}
/* line 804, ../scss/breakpoints/_base.scss */
.footer-links ul li a {
  display: inline-block;
  padding: 2px 10px;
}

/* end .footer-links */
/*********************
LARGER MOBILE DEVICES
*********************/
@media only screen and (min-width: 576px) {
  /******************************************************************
  Stylesheet: 576px and Up Stylesheet
  ******************************************************************/
  /*********************
  HEADER STYLES
  *********************/
  /* line 10, ../scss/breakpoints/_576up.scss */
  h1.top-logo {
    width: 400px;
  }

  /*********************
  POSTS & CONTENT STYLES
  *********************/
  /* entry content */
  /* line 20, ../scss/breakpoints/_576up.scss */
  .entry-content {
    /* at this larger size, we can start to align images */
  }
  /* line 24, ../scss/breakpoints/_576up.scss */
  .entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  /* line 29, ../scss/breakpoints/_576up.scss */
  .entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  /* line 34, ../scss/breakpoints/_576up.scss */
  .entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }

  /* end .entry-content */
}
/*********************
TABLET & SMALLER LAPTOPS
*********************/
@media only screen and (min-width: 768px) {
  /******************************************************************
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  /* line 18, ../scss/breakpoints/_768up.scss */
  .wrap {
    width: 100%;
    max-width: 1200px;
  }

  /*********************
  HEADER STYLES
  *********************/
  /*********************
  NAVIGATION STYLES
  *********************/
  /*********************
  SIDEBARS & ASIDES
  *********************/
  /* line 40, ../scss/breakpoints/_768up.scss */
  .sidebar {
    margin-top: 2.2em;
  }

  /* line 44, ../scss/breakpoints/_768up.scss */
  .widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em;
  }

  /* line 49, ../scss/breakpoints/_768up.scss */
  .widget {
    padding: 0 10px;
    margin: 2.2em 0;
  }
  /* line 54, ../scss/breakpoints/_768up.scss */
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */
  }
  /* line 62, ../scss/breakpoints/_768up.scss */
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em;
  }

  /* links widget */
  /* meta widget */
  /* pages widget */
  /* recent-posts widget */
  /* archives widget */
  /* tag-cloud widget */
  /* calendar widget */
  /* category widget */
  /* recent-comments widget */
  /* search widget */
  /* text widget */
  /*********************
  FOOTER STYLES
  *********************/
  /*
  you'll probably need to do quite a bit
  of overriding here if you styled them for
  mobile. Make sure to double check these!
  */
  /* line 170, ../scss/breakpoints/_768up.scss */
  .footer-links ul li {
    /*
    be careful with the depth of your menus.
    it's very rare to have multi-depth menus in
    the footer.
    */
  }

  /* end .footer-links */
}
/*********************
DESKTOP
*********************/
@media only screen and (min-width: 992px) {
  /******************************************************************
  Stylesheet: Desktop Stylsheet
  
  ******************************************************************/
  /* line 9, ../scss/breakpoints/_992up.scss */
  #menu-top-menu .sub-menu {
    background-color: #343a40 !important;
  }
}
/*********************
LARGE VIEWING SIZE
*********************/
@media only screen and (min-width: 1200px) {
  /******************************************************************
  
  Stylesheet: Super Large Monitor Stylesheet
  
  ******************************************************************/
}
/*********************
RETINA (2x RESOLUTION DEVICES)
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Retina Screens & Devices Stylesheet
  
  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.
  
  ******************************************************************/
  /* 
  
  EXAMPLE 
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning 
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go. 
  
  */
}
/*********************
PRINT STYLESHEET
*********************/
@media print {
  /******************************************************************
  
  Stylesheet: Print Stylesheet
  
  
  ******************************************************************/
  /* line 8, ../scss/partials/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 16, ../scss/partials/_print.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  /* line 21, ../scss/partials/_print.scss */
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  /* line 26, ../scss/partials/_print.scss */
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 31, ../scss/partials/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 37, ../scss/partials/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 42, ../scss/partials/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 46, ../scss/partials/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 50, ../scss/partials/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 58, ../scss/partials/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 63, ../scss/partials/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 69, ../scss/partials/_print.scss */
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
