/*! Made with Bones: http://themble.com/bones :) */
/******************************************************************

Stylesheet: Main Stylesheet

******************************************************************/
/*********************
IMPORTING PARTIALS
*********************/
/******************************************************************

Stylesheet: Variables

******************************************************************/
/*********************
COLORS
http://0to255.com/
*********************/
/*********************
TWC COLORS
*********************/
/* line 53, ../scss/partials/_variables.scss */
.bg-black {
  background-color: #000000;
}

/* line 55, ../scss/partials/_variables.scss */
.bg-twc-lightblue {
  background-color: #34bdf4;
}

/* line 56, ../scss/partials/_variables.scss */
.bg-twc-lightblue2 {
  background-color: #00acf1;
}

/* line 57, ../scss/partials/_variables.scss */
.bg-twc-darkblue {
  background-color: #262366;
}

/* line 58, ../scss/partials/_variables.scss */
.bg-twc-red {
  background-color: #ad0000;
}

/* line 59, ../scss/partials/_variables.scss */
.bg-twc-lightgrey {
  background-color: #e5e5e5;
}

/* line 60, ../scss/partials/_variables.scss */
.bg-twc-gold {
  background-color: #eece85;
}

/******************************************************************

Stylesheet: Typography

******************************************************************/
/*********************
FONT FACE 
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 45, ../scss/partials/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/******************************************************************

Stylesheet: Sass Functions

******************************************************************/
/*********************
COLOR FUNCTIONS
Example:
box-shadow: 0 0 4px black(0.3);
compiles to:
box-shadow: 0 0 4px rgba(0,0,0,0.3);
*********************/
/*********************
RESPONSIVE HELPER FUNCTION
Example:
width: cp(650px, 1000px);
or
width: calc-percent(650px, 1000px);
both compile to:
width: 65%;
*********************/
/******************************************************************
Stylesheet: Mixins Stylesheet

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*********************
CSS3 GRADIENTS
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/*********************
IMPORTING MODULES
*********************/
/*********************
BASE (MOBILE) SIZE
*********************/
/******************************************************************
Stylesheet: Base Mobile Stylesheet

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/* line 10, ../scss/breakpoints/_base.scss */
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #0a0a0a;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 315px;
  overflow-x: hidden;
}

/* line 22, ../scss/breakpoints/_base.scss */
.container {
  width: 100%;
  max-width: 1200px !important;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
/* for sites that are read right to left (i.e. hebrew) */
/* home page */
/* blog template page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* parent page template */
/* child page template */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 72, ../scss/breakpoints/_base.scss */
.wrap {
  width: 96%;
  margin: 0 auto;
}

/*********************
LINK STYLES
*********************/
/* line 81, ../scss/breakpoints/_base.scss */
a, a:visited {
  color: #f01d4f;
  /* on hover */
  /* on click */
  /* mobile tap color */
}
/* line 85, ../scss/breakpoints/_base.scss */
a:hover, a:focus, a:visited:hover, a:visited:focus {
  color: #d10e3c;
  text-decoration: none;
}
/* line 96, ../scss/breakpoints/_base.scss */
a:link, a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
/* line 105, ../scss/breakpoints/_base.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  font-weight: 500;
  line-height: 1.3em;
}
/* line 110, ../scss/breakpoints/_base.scss */
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
}

/* line 117, ../scss/breakpoints/_base.scss */
h1 {
  font-size: 2.5em;
}

/* line 120, ../scss/breakpoints/_base.scss */
.h1 {
  font-size: 2.5em !important;
}

/* line 124, ../scss/breakpoints/_base.scss */
h2 {
  font-size: 1.75em;
}

/* line 127, ../scss/breakpoints/_base.scss */
.h2 {
  font-size: 1.75em !important;
}

/* line 131, ../scss/breakpoints/_base.scss */
h3 {
  font-size: 1.4em;
}

/* line 134, ../scss/breakpoints/_base.scss */
.h3 {
  font-size: 1.4em !important;
}

/* line 138, ../scss/breakpoints/_base.scss */
h4 {
  font-size: 1.2em;
}

/* line 141, ../scss/breakpoints/_base.scss */
.h4 {
  font-size: 1.2em !important;
}

/* line 145, ../scss/breakpoints/_base.scss */
h5 {
  font-size: 1em;
}

/* line 148, ../scss/breakpoints/_base.scss */
.h5 {
  font-size: 1em !important;
}

/* line 153, ../scss/breakpoints/_base.scss */
.blog-h, .blog-vh {
  text-align: center;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 25px;
}

/* line 159, ../scss/breakpoints/_base.scss */
.blog-vh {
  background-color: #00acf1;
  color: #ffffff;
  padding: 15px;
  margin: 10px 0;
}

/*********************
HEADER STYLES
*********************/
/* line 171, ../scss/breakpoints/_base.scss */
.header {
  background-color: #000000;
}

/* line 175, ../scss/breakpoints/_base.scss */
h1.top-logo {
  line-height: 0;
  width: 200px;
}

/* line 180, ../scss/breakpoints/_base.scss */
.yt-logo-top {
  width: 50px;
  height: auto;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 188, ../scss/breakpoints/_base.scss */
.navbar {
  padding: 0;
}

/* line 194, ../scss/breakpoints/_base.scss */
#menu-top-menu a {
  color: #ffffff !important;
}
/* line 196, ../scss/breakpoints/_base.scss */
#menu-top-menu a:hover, #menu-top-menu a:active, #menu-top-menu a:focus {
  background-color: #00acf1;
}
/* line 201, ../scss/breakpoints/_base.scss */
#menu-top-menu li:hover, #menu-top-menu li:active, #menu-top-menu li:focus {
  background-color: #00acf1;
}
/* line 205, ../scss/breakpoints/_base.scss */
#menu-top-menu > li > a {
  padding: 10px 15px;
}
/* line 209, ../scss/breakpoints/_base.scss */
#menu-top-menu .sub-menu {
  background-color: #565e66 !important;
  margin: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0;
  padding: 0;
}
/* line 217, ../scss/breakpoints/_base.scss */
#menu-top-menu .sub-menu > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

/*********************
ARCHIVE STYLES
*********************/
/* line 227, ../scss/breakpoints/_base.scss */
.archive-box {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 231, ../scss/breakpoints/_base.scss */
.archive-box:hover {
  background-color: #333;
}
/* line 234, ../scss/breakpoints/_base.scss */
.archive-box:hover a {
  color: #34bdf4;
}
/* line 237, ../scss/breakpoints/_base.scss */
.archive-box:hover time {
  color: #ffffff !important;
}
/* line 243, ../scss/breakpoints/_base.scss */
.archive-box a {
  color: #000000;
}
/* line 247, ../scss/breakpoints/_base.scss */
.archive-box time {
  color: #000000 !important;
  text-decoration: none !important;
  font-weight: bold;
}
/* line 253, ../scss/breakpoints/_base.scss */
.archive-box h1 {
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  height: 50px;
  overflow: hidden;
}
/* line 261, ../scss/breakpoints/_base.scss */
.archive-box .archive-img-wrap {
  position: relative;
}
/* line 264, ../scss/breakpoints/_base.scss */
.archive-box .archive-img-wrap .main-cat {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 7px;
  margin: 0;
  background-color: #222;
  color: #ffffff !important;
}

/* line 277, ../scss/breakpoints/_base.scss */
.category-food .main-cat {
  background-color: #ad0000 !important;
}

/* line 282, ../scss/breakpoints/_base.scss */
.category-travel .main-cat {
  background-color: #7dd667 !important;
}

/* line 287, ../scss/breakpoints/_base.scss */
.category-cycling .main-cat {
  background-color: #00acf1 !important;
}

/*********************
POSTS & CONTENT STYLES
*********************/
/* line 297, ../scss/breakpoints/_base.scss */
#content {
  padding-top: 2em;
}

/* line 303, ../scss/breakpoints/_base.scss */
.hentry header {
  border-bottom: 1px solid #f8f9fa;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
/* line 309, ../scss/breakpoints/_base.scss */
.hentry footer {
  padding: 1.5em 0 0 0;
  border-top: 1px solid #f8f9fa;
}
/* line 313, ../scss/breakpoints/_base.scss */
.hentry footer p {
  margin: 0;
}

/* end .hentry */
/* line 320, ../scss/breakpoints/_base.scss */
.single-title,
.page-title,
.entry-title {
  margin: 0;
}

/* post meta */
/* line 329, ../scss/breakpoints/_base.scss */
.byline {
  margin: 5px 0 0 0;
  font-size: 14px;
  font-weight: bold;
}

/* entry content */
/* line 341, ../scss/breakpoints/_base.scss */
.entry-content p {
  margin: 0 0 1.5em;
}
/* line 366, ../scss/breakpoints/_base.scss */
.entry-content table {
  width: 100%;
  border: 1px solid #eaedf2;
  margin-bottom: 1.5em;
}
/* line 371, ../scss/breakpoints/_base.scss */
.entry-content table caption {
  margin: 0 0 7px;
  font-size: 0.75em;
  color: #9fa6b4;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 380, ../scss/breakpoints/_base.scss */
.entry-content tr {
  border-bottom: 1px solid #eaedf2;
}
/* line 383, ../scss/breakpoints/_base.scss */
.entry-content tr:nth-child(even) {
  background-color: #f8f9fa;
}
/* line 388, ../scss/breakpoints/_base.scss */
.entry-content td {
  padding: 7px;
  border-right: 1px solid #eaedf2;
}
/* line 392, ../scss/breakpoints/_base.scss */
.entry-content td:last-child {
  border-right: 0;
}
/* line 397, ../scss/breakpoints/_base.scss */
.entry-content th {
  background-color: #f8f9fa;
  border-bottom: 1px solid #eaedf2;
  border-right: 1px solid #eaedf2;
}
/* line 402, ../scss/breakpoints/_base.scss */
.entry-content th:last-child {
  border-right: 0;
}
/* line 407, ../scss/breakpoints/_base.scss */
.entry-content blockquote {
  margin: 0 0 1.5em 0.75em;
  padding: 0 0 0 0.75em;
  border-left: 3px solid #2980b9;
  font-style: italic;
  color: #9fa6b4;
}
/* line 422, ../scss/breakpoints/_base.scss */
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
/* line 429, ../scss/breakpoints/_base.scss */
.entry-content img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
  height: auto;
}
/* line 436, ../scss/breakpoints/_base.scss */
.entry-content .size-auto,
.entry-content .size-full,
.entry-content .size-large,
.entry-content .size-medium,
.entry-content .size-thumbnail {
  max-width: 100%;
  height: auto;
}
/* line 445, ../scss/breakpoints/_base.scss */
.entry-content pre {
  background: #000000;
  color: #f8f9fa;
  font-size: 0.9em;
  padding: 1.5em;
  margin: 0 0 1.5em;
  border-radius: 3px;
}

/* end .entry-content */
/* line 456, ../scss/breakpoints/_base.scss */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  margin-bottom: 15px;
  /* images inside wp-caption */
}
/* line 463, ../scss/breakpoints/_base.scss */
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
/* line 469, ../scss/breakpoints/_base.scss */
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 7px 0;
  text-align: center;
}

/* end .wp-caption */
/******************************************************************
SINGLE BLOG
******************************************************************/
/* line 483, ../scss/breakpoints/_base.scss */
#similar-posts img {
  width: 100%;
  height: auto;
}
/* line 488, ../scss/breakpoints/_base.scss */
#similar-posts .similar-box {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 492, ../scss/breakpoints/_base.scss */
#similar-posts .similar-box:hover {
  background-color: #222;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/
/* line 502, ../scss/breakpoints/_base.scss */
.pagination,
.wp-prev-next {
  margin: 1.5em 0;
}

/* line 506, ../scss/breakpoints/_base.scss */
.pagination {
  text-align: center;
}
/* line 509, ../scss/breakpoints/_base.scss */
.pagination ul {
  display: inline-block;
  background-color: #ffffff;
  white-space: nowrap;
  padding: 0;
  clear: both;
  border-radius: 3px;
}
/* line 518, ../scss/breakpoints/_base.scss */
.pagination li {
  padding: 0;
  margin: 0;
  float: left;
  display: inline;
  overflow: hidden;
  border-right: 1px solid #eaedf2;
}
/* line 527, ../scss/breakpoints/_base.scss */
.pagination a, .pagination span {
  margin: 0;
  text-decoration: none;
  padding: 0;
  line-height: 1em;
  font-size: 1em;
  font-weight: normal;
  padding: 0.75em;
  min-width: 1em;
  display: block;
  color: #2980b9;
}
/* line 539, ../scss/breakpoints/_base.scss */
.pagination a:hover, .pagination a:focus, .pagination span:hover, .pagination span:focus {
  background-color: #2980b9;
  color: #ffffff;
}
/* line 545, ../scss/breakpoints/_base.scss */
.pagination .current {
  cursor: default;
  color: #0a0a0a;
}
/* line 549, ../scss/breakpoints/_base.scss */
.pagination .current:hover, .pagination .current:focus {
  background-color: #ffffff;
  color: #0a0a0a;
}

/* end .bones_page_navi */
/* fallback previous & next links */
/* line 562, ../scss/breakpoints/_base.scss */
.wp-prev-next .prev-link {
  float: left;
}
/* line 566, ../scss/breakpoints/_base.scss */
.wp-prev-next .next-link {
  float: right;
}

/* end .wp-prev-next */
/*********************
SIDEBARS & ASIDES
*********************/
/* line 580, ../scss/breakpoints/_base.scss */
.sidebar {
  padding-top: 10px;
}
/* line 583, ../scss/breakpoints/_base.scss */
.sidebar img {
  max-width: 100%;
}

/* line 594, ../scss/breakpoints/_base.scss */
.widget ul li {
  /* deep nesting */
}

/* line 611, ../scss/breakpoints/_base.scss */
.no-widgets {
  background-color: #ffffff;
  padding: 1.5em;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 1.5em;
}

/*********************
FOOTER STYLES
*********************/
/* line 624, ../scss/breakpoints/_base.scss */
.footer {
  clear: both;
  background-color: #000000;
}

/* line 632, ../scss/breakpoints/_base.scss */
.footer-links ul {
  display: inline;
}
/* line 635, ../scss/breakpoints/_base.scss */
.footer-links ul li {
  display: inline-block;
  border-right: solid 1px #ffffff;
  margin: 5px 0;
}
/* line 640, ../scss/breakpoints/_base.scss */
.footer-links ul li:last-child {
  border: none;
}
/* line 644, ../scss/breakpoints/_base.scss */
.footer-links ul li a {
  display: inline-block;
  padding: 2px 10px;
}

/* end .footer-links */
/******************************************************************
MISC CLASSES
******************************************************************/
/* line 661, ../scss/breakpoints/_base.scss */
.full-w {
  position: relative;
  left: -15px;
  right: 15px;
  width: calc(100% + 30px);
}

/* line 668, ../scss/breakpoints/_base.scss */
.narrow-content {
  max-width: 600px;
  margin: 0 auto;
}

/*********************
LARGER MOBILE DEVICES
*********************/
@media only screen and (min-width: 576px) {
  /******************************************************************
  Stylesheet: 576px and Up Stylesheet
  ******************************************************************/
  /*********************
  HEADER STYLES
  *********************/
  /* line 10, ../scss/breakpoints/_576up.scss */
  h1.top-logo {
    width: 400px;
  }

  /* line 13, ../scss/breakpoints/_576up.scss */
  .yt-logo-top {
    width: 80px;
  }

  /*********************
  POSTS & CONTENT STYLES
  *********************/
  /* entry content */
  /* line 22, ../scss/breakpoints/_576up.scss */
  .entry-content {
    /* at this larger size, we can start to align images */
  }
  /* line 26, ../scss/breakpoints/_576up.scss */
  .entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  /* line 31, ../scss/breakpoints/_576up.scss */
  .entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  /* line 36, ../scss/breakpoints/_576up.scss */
  .entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }

  /* end .entry-content */
}
/*********************
TABLET & SMALLER LAPTOPS
*********************/
@media only screen and (min-width: 768px) {
  /******************************************************************
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  
  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  /* line 18, ../scss/breakpoints/_768up.scss */
  .wrap {
    width: 100%;
    max-width: 1200px;
  }

  /*********************
  HEADER STYLES
  *********************/
  /*********************
  NAVIGATION STYLES
  *********************/
  /*********************
  SIDEBARS & ASIDES
  *********************/
  /* line 43, ../scss/breakpoints/_768up.scss */
  .widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em;
  }

  /* line 48, ../scss/breakpoints/_768up.scss */
  .widget {
    padding: 0 10px;
    margin: 0 0 2.2em 0;
  }
  /* line 53, ../scss/breakpoints/_768up.scss */
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */
  }
  /* line 61, ../scss/breakpoints/_768up.scss */
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em;
  }

  /* links widget */
  /* meta widget */
  /* pages widget */
  /* recent-posts widget */
  /* archives widget */
  /* tag-cloud widget */
  /* calendar widget */
  /* category widget */
  /* recent-comments widget */
  /* search widget */
  /* text widget */
  /*********************
  FOOTER STYLES
  *********************/
  /*
  you'll probably need to do quite a bit
  of overriding here if you styled them for
  mobile. Make sure to double check these!
  */
  /* line 169, ../scss/breakpoints/_768up.scss */
  .footer-links ul li {
    /*
    be careful with the depth of your menus.
    it's very rare to have multi-depth menus in
    the footer.
    */
  }

  /* end .footer-links */
}
/*********************
DESKTOP
*********************/
@media only screen and (min-width: 992px) {
  /******************************************************************
  Stylesheet: Desktop Stylsheet
  
  ******************************************************************/
  /* line 9, ../scss/breakpoints/_992up.scss */
  #menu-top-menu .sub-menu {
    background-color: #343a40 !important;
  }

  /* line 16, ../scss/breakpoints/_992up.scss */
  .entry-content p,
  .entry-content ul,
  .entry-content ol,
  .entry-content table {
    font-size: 18px;
  }
}
/*********************
LARGE VIEWING SIZE
*********************/
@media only screen and (min-width: 1200px) {
  /******************************************************************
  
  Stylesheet: Super Large Monitor Stylesheet
  
  ******************************************************************/
  /* line 9, ../scss/breakpoints/_1200up.scss */
  .blog-h {
    margin-top: 70px;
    margin-bottom: 35px;
  }
}
/*********************
RETINA (2x RESOLUTION DEVICES)
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Retina Screens & Devices Stylesheet
  
  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.
  
  ******************************************************************/
  /* 
  
  EXAMPLE 
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning 
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go. 
  
  */
}
/*********************
PRINT STYLESHEET
*********************/
@media print {
  /******************************************************************
  
  Stylesheet: Print Stylesheet
  
  
  ******************************************************************/
  /* line 8, ../scss/partials/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 16, ../scss/partials/_print.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  /* line 21, ../scss/partials/_print.scss */
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  /* line 26, ../scss/partials/_print.scss */
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 31, ../scss/partials/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 37, ../scss/partials/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 42, ../scss/partials/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 46, ../scss/partials/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 50, ../scss/partials/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 58, ../scss/partials/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 63, ../scss/partials/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 69, ../scss/partials/_print.scss */
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
