/******************************************************************

Stylesheet: Super Large Monitor Stylesheet

******************************************************************/


/*********************
HEADER STYLES
*********************/

#top-search {
	#s {
		width: 220px;
	}
}


.blog-h {
	margin-top: 70px;
	margin-bottom: 35px;
}