/******************************************************************
Stylesheet: Desktop Stylsheet

******************************************************************/

/*********************
HEADER STYLES
*********************/

#top-search {
	#s {
		width: 180px;
	}
}


#menu-top-menu .sub-menu {
  background-color: #343a40!important;
}


/*********************
CONTENT  STYLES
*********************/
.entry-content {

	p,
	ul,
	ol,
	table {
		font-size: 18px;
	}

}