/******************************************************************
Stylesheet: Desktop Stylsheet

******************************************************************/




#menu-top-menu .sub-menu {
  background-color: #343a40!important;
}


.entry-content {

	p,
	ul,
	ol,
	table {
		font-size: 18px;
	}

}