/******************************************************************
Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $lato;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	min-width: 300px;
	overflow-x: hidden;
}

.container {
	width: 100%;
	max-width: 1200px !important;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
		text-decoration: none;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	line-height: 1.3em;

	a {
		text-decoration: none;
	}
}



h1 {
	font-size: 2.5em;
}
.h1 {
	font-size: 2.5em !important;
}

h2 {
	font-size: 1.75em;
}
.h2 {
	font-size: 1.75em !important;
}

h3 {
	font-size: 1.4em;
}
.h3 {
	font-size: 1.4em !important;
}

h4 {
	font-size: 1.2em;
}
.h4 {
	font-size: 1.2em !important;
}

h5 {
	font-size: 1em;
}
.h5 {
	font-size: 1em !important;
}


.blog-h, .blog-vh {
	text-align: center;
	font-weight: 700;
	margin-top: 50px;
	margin-bottom: 25px;
}
.blog-vh {
	background-color: $twc-lightblue2;
	color: $white;
	padding: 15px;
	margin: 10px 0;
}


/*********************
HEADER STYLES
*********************/

.header {
	background-color: $black;
}

h1.top-logo {
	line-height: 0;
	width: 170px;
}

.yt-logo-top,
.shop-logo-top {
	height: 11px; 
	width: auto;
}

#top-search {

	#s {
		position: absolute;
		top: 6px;
		width: 60%;
		right: 50px;
	}
	button {
		position: absolute;
		top: 6px;
		right: 0;
	}
}

/*********************
NAVIGATION STYLES
*********************/

.navbar {
	padding: 0;
}

#top-nav-bar {
	min-height: 50px;
}
#menu-top-menu {

	a {
		color: $white !important;
		&:hover, &:active, &:focus {
			background-color: $twc-lightblue2;
		}
	}
	li {
		&:hover, &:active, &:focus {
			background-color: $twc-lightblue2;
		}
	}
	>li > a {
		padding: 10px 15px;
	}

	.sub-menu {
		background-color: #565e66!important;
		margin: 0;
  		border-top-right-radius: 0;
  		border-top-left-radius: 0;
  		border-top: 0;
  		padding: 0;

		> a {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
}

/*********************
ARCHIVE STYLES
*********************/
.archive-box {
	padding-top: 10px;
	padding-bottom: 10px;

	&:hover {
		background-color: #333;
		
		a {
			color: $twc-lightblue;
		}
		time {
			color: $white !important;
		}
	}
	
	
	a {
		color: $black;
	}
	
	time {
		color: $black !important;
		text-decoration: none !important;
		font-weight: bold;
	}
	
	h1 {
		font-size: 20px;
		line-height: 25px;
		font-weight: bold;
		height: 50px;
		overflow: hidden;
	}
	
	.archive-img-wrap {
		position: relative;
		
		.main-cat {
			position: absolute;
			top: 0;
			right: 0;
			padding: 3px 7px;
			margin: 0;
			background-color: #222;
			color: $white !important;
		}
	}
}

.category-food {
	.main-cat {
		background-color: $twc-red !important;
	}
}
.category-travel {
	.main-cat {
		background-color: $green !important;
	}
}
.category-cycling {
	.main-cat {
		background-color: $twc-lightblue2 !important;
	}
}


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	padding-top: 2em;
}

		.hentry {

			header {
				margin-bottom: 15px;
			}

			footer {
				padding: 1.5em 0 0 0;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}



		/* post meta */
		.byline {
			margin: 5px 0 0 0;
			font-size: 14px;
			font-weight: bold;

			time {}
		}

		/* entry content */
		.entry-content {
			

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

	
			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;
			margin-bottom: 15px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 7px 0;
				text-align: center;
			}

		} /* end .wp-caption */



/******************************************************************
SINGLE BLOG
******************************************************************/
#similar-posts {
	img { 
		width: 100%; 
		height: auto;
	}
	
	.similar-box {
		padding-top: 5px;
		padding-bottom: 5px;
		
		&:hover {
			background-color: #222;
		}
	}
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */





/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	padding-top: 10px; 
	
	img {
		max-width: 100%;
	}
}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
}


	.footer-links {
		
		ul {
			display: inline;

			li {
				display: inline-block;
				border-right: solid 1px $white;
				margin: 5px 0;
				
				&:last-child {
					border: none;
				}
				
				a {
					display: inline-block;
					padding: 2px 10px;
				}
			}

		}

	} /* end .footer-links */


	.copyright {}
	
	
/******************************************************************
MISC CLASSES
******************************************************************/
.full-w {
	position: relative;
	left: -15px;
	right: 15px;
	width: calc(100% + 30px);
}

.narrow-content {
	max-width: 600px;
	margin: 0 auto;
}
.line-height-0 {
	line-height: 0;
}